doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title EzTrain

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/BigLogo.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') EzTrain
                button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#airForce') Air Force
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#commercial') Commercial
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') About

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/img/BigLogo.png', alt='')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 EzTrain
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Real-Time Communication - Data Analytics - Smart Scheduling

        // Portfolio Section
        section#airForce.page-section.airForce
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Air Force
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Portfolio Grid Items
                .row
                    // Portfolio Item 1
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal1')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/Air_Combat_Command.png', alt='')
                    // Portfolio Item 2
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal2')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/DreamJobInterview.jpg', alt='')
                    // Portfolio Item 3
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal3')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/dashboard.png', alt='')
                    // Portfolio Item 4
                    .col-md-6.col-lg-4.mb-5.mb-lg-0
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal4')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/schedule.jpg', alt='')
                    // Portfolio Item 5
                    .col-md-6.col-lg-4.mb-5.mb-md-0
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal5')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/excel.jpg', alt='')
                    // Portfolio Item 6
                    .col-md-6.col-lg-4
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal6')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/testimonial.jpg', alt='')

        section#commercial.page-section.commercial
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Commercial
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Portfolio Grid Items
                .row
                    // Portfolio Item 1
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal7')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/dukeems.png', alt='')
                    // Portfolio Item 2
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal8')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/uncems.png', alt='')
                    // Portfolio Item 3
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal9')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/dcems.png', alt='')
                    // Portfolio Item 4
                    .col-md-6.col-lg-4.mb-5.mb-lg-0
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal10')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/suffolkFire.jpg', alt='')
                    // Portfolio Item 5
                    //.col-md-6.col-lg-4.mb-5.mb-md-0
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal5')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/safe.png', alt='')
                    // Portfolio Item 6
                    //.col-md-6.col-lg-4
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal6')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/submarine.png', alt='')

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-white About
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // About Section Content
                .row
                    .col-lg-4.ml-auto
                        p.lead
                            | There is a clear need for process improvement and greater operational efficiency within Air Force Reserve training. Supervisors struggle to synthesize organized training schedules due to a complex system of data management that requires extensive communication between Microsoft Excel spreadsheets.
                    .col-lg-4.mr-auto
                        p.lead
                            | EZTrain technology algorithmically identifies and collates relevant training information from large spreadsheets of data, with little input required from the user. By mapping every datapoint to a unique account, the application makes training profiles allowing for more personalized and organized training plans.
                // About Section Button
                //.text-center.mt-4
                    a.btn.btn-xl.btn-outline-light(href='https://startbootstrap.com/themes/freelancer/')
                        i.fas.fa-download.mr-2
                        | Free Download!

        // Contact Section
        //section#contact.page-section
            .container
                // Contact Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contact Me
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Contact Section Form
                .row
                    .col-lg-8.mx-auto
                        // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
                        form#contactForm(name='sentMessage', novalidate='novalidate')
                            .control-group
                                .form-group.floating-label-form-group.controls.mb-0.pb-2
                                    label Name
                                    input#name.form-control(type='text', placeholder='Name', required='required', data-validation-required-message='Please enter your name.')
                                    p.help-block.text-danger
                            .control-group
                                .form-group.floating-label-form-group.controls.mb-0.pb-2
                                    label Email Address
                                    input#email.form-control(type='email', placeholder='Email Address', required='required', data-validation-required-message='Please enter your email address.')
                                    p.help-block.text-danger
                            .control-group
                                .form-group.floating-label-form-group.controls.mb-0.pb-2
                                    label Phone Number
                                    input#phone.form-control(type='tel', placeholder='Phone Number', required='required', data-validation-required-message='Please enter your phone number.')
                                    p.help-block.text-danger
                            .control-group
                                .form-group.floating-label-form-group.controls.mb-0.pb-2
                                    label Message
                                    textarea#message.form-control(rows='5', placeholder='Message', required='required', data-validation-required-message='Please enter a message.')
                                    p.help-block.text-danger
                            br
                            #success
                            .form-group
                                button#sendMessageButton.btn.btn-primary.btn-xl(type='submit') Send

        // Footer
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Location
                        p.lead.mb-0
                            | 109 Glen Haven Drive
                            br
                            | Chapel Hill, NC 27516
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Around the Web
                        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                            i.fab.fa-fw.fa-facebook-f
                        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                            i.fab.fa-fw.fa-twitter
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/company/eztrain-llc/')
                            i.fab.fa-fw.fa-linkedin-in
                        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                            i.fab.fa-fw.fa-dribbble
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 Contact Us
                        p.lead.mb-0
                            | You can reach us at eztrain.duke@gmail.com
                            //a(href='http://startbootstrap.com') Start Bootstrap
                            //| .
        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright © EzTrain 2020
        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-to-top.d-lg-none.position-fixed
            a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
                i.fa.fa-chevron-up

        // Portfolio Modals

        // Portfolio Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal1Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal1Label Seymour Johnson AFB
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/Air_Combat_Command.png', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | We are currently working with senior leadership at Seymour Johnson Air Force Base to make reserve training more efficient and increase communication between Air Force reserve members.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal2Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal2Label 100+ Interviews
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/DreamJobInterview.jpg', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | From extensive interviews with leaders from all levels of Seymour Johnson Air Force Base, we understand that trainees are often unable to fully utilize their training time due to communication issues, poor accessibility to computers, and the sheer lack of an individual training schedule. In talking with leadership from other bases, we have come to understand that this problem that reserve training programs face is ubiquitous. EZTrain aims to increase the efficiency of reserve training time and ensure that trainees are able to complete tasks on-time for deployment readiness requirements.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal3Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal3Label Intuitive Dashboard
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/dashboard.png', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        |  By providing leaders with an intuitive digital dashboard, they can view the statuses of everyone in their group at a glance. The dashboard is updated as trainees complete tasks and send confirmation texts on their phone which ensures that access to a computer is not a bottleneck for a group’s efficiency. With a real-time task completion board, Section Chiefs will understand exactly who is working and how much they are achieving. EZTrain also provides a messaging service that can be used by leadership and trainees to inform everyone in real time.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal4Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal4Label Smart Scheduling
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/schedule.jpg', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | The scheduling feature enables leadership to create smart schedules that ensure the maximum number of trainees are being trained on the most important tasks with the least amount of scheduling conflicts. Trainees will be able to see their schedules before their UTA weekend and plan accordingly. Since EZTrain’s internal database will keep track of finished tasks, leadership will be able to automatically generate updated trainee schedules for the next UTA weekend.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal5Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal5Label Complex Spreadsheet Synthesis
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/excel.jpg', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | The Air Force reserve training program relies on many spreadsheets and databases to keep track of which tasks trainees have completed. EzTrain provides automatic master spreadsheet integration that creates a global log of all trainee datapoints with minimal user input.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal6Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal6Label User Testimonials
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/testimonial.jpg', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | “Productivity and engagement would directly go up” - Sgt. Herzog
                                    p.mb-5
                                        | “Keeping track of training would make a world of a difference”” - CMSgt. Birmingham
                                    p.mb-5
                                        | "Even if a wrench gets thrown in, using [EzTrain] we can maneuver and get things done." - Sgt. Rice
                                    p.mb-5
                                        | "If you make a paperwork trail trainees will get working" - Lt. Saunders
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 7
        #portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal7Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal7Label Duke EMS
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/dukeems.png', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | We are currently working with our university's mature EMS program to enable them to use Eztrain's smart scheduling to properly delegate events to all EMS personnel.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window

        // Portfolio Modal 8
        #portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal8Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal8Label UNC EMS
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/uncems.png', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | UNC EMS have recently created an official EMS unit. They were originally considering subscribing to 3 different software packages that each only do one of EzTrain's functionalities. However, after our team demoed our product, they were enthusiastic about trying EzTrain instead. Now we are working with UNC's fledgling EMS program to see if they can use our software to do the scheduling, task management, and data analytics necessary for manging a university's EMS unit.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window

        // Portfolio Modal 9
        #portfolioModal9.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal9Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal9Label Durham County EMS
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/dcems.png' alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | We are currently working with Durham County's EMS program to specifically enable their unit to use Eztrain's excel master spreadsheet synthesis because their current task management system is heavily unstructured.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window

        // Portfolio Modal 10
        #portfolioModal10.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal10Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal10Label Suffolk County Fire Department
                                    // Icon Divider
                                    .divider-custom
                                        .divider-custom-line
                                        .divider-custom-icon
                                            i.fas.fa-star
                                        .divider-custom-line
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/suffolkFire.jpg', alt='')
                                    // Portfolio Modal - Text
                                    p.mb-5
                                        | We are currently working with Suffolk County Fire Department to allow their firemen to track ever-changing training requirements.
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')
